:root {
  --label-extra-color: #B2B2B2;
}

.pro-form-fields {
  &.view-mode {
    padding-bottom: 8px;
  }
}

.label-tip-icon {
  margin-left: 2px;
}

.pro-form-field_content {
  word-break: break-all;
}

.pro-form-fields_item,
.pro-form-fields_item.el-form-item {

  &__label-extra {
    color: var(--label-extra-color);
    margin-left: 4px;
  }

  &.view-mode {
    margin-bottom: 18px;

    &.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label-wrap>.el-form-item__label:before,
    &.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before {
      content: '';
    }
  }

  .el-form-item__content {

    .el-picker,
    .el-input-number,
    .el-upload {
      width: 100%;
    }
  }
}