.pro-status-text {
  display: inline-flex;
  align-items: center;
  position: relative;

  .status-indicator {
    margin-right: 4px;
    transition: all 0.3s;
    position: relative;
  }

  .text {
    font-size: 14px;

    &.ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  /* 动画效果 */
  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-wave {
    animation: wave 1.5s ease-in-out infinite;
  }

  @keyframes pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0.5;
    }
  }

  @keyframes wave {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

  /* 添加文字大小的样式 */
  .size-small {
    .text {
      font-size: 12px;
    }
  }

  .size-large {
    font-size: 16px;
  }
}