.pro-swiper-card {
  user-select: none;
}

.pro-swiper-card-container.show-left:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(to right, var(--background-white), rgba(255, 255, 255, 0));
  z-index: 1;
}

.pro-swiper-card-container.show-right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 100%;
  background: linear-gradient(to left, var(--background-white), rgba(255, 255, 255, 0));
  z-index: 1;
}

.pro-swiper-card-content>div,
.pro-swiper-card-content>li,
.pro-swiper-card-content>ul {
  display: inline-block;
  margin-right: 8px;
}

.pro-swiper-card-content .active,
.pro-swiper-card-content :hover,
.pro-swiper-card-content :focus {
  .tab-item-button {
    display: flex;
  }
}

.pro-swiper-card-content :last-child {
  margin-right: 0 !important;
}

.icon-btn-box {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: none;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  color: #8490fe;
  font-size: 11px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pro-swiper-card:hover .icon-btn-box {
  display: flex;
}

.icon-btn-box:hover {
  background-color: #4b5bfe;
  color: white;
}

.swiper-left-btn {
  display: flex;
  position: absolute;
  left: -30px;
  width: 24px;
  cursor: pointer;
  height: 100%;
}

.swiper-right-btn {
  position: absolute;
  right: -30px;
  height: 100%;
  width: 24px;
  cursor: pointer;
}

.pro-swiper-card-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.pro-swiper-card-content {
  min-width: 0;
  white-space: nowrap;
}

.pro-swiper-card-content.transition-animate {
  transition-property: transform;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}