.pro-list-page-content {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  .pro-section-header {
    margin-bottom: 16px;
  }

  .content-wrapper {
    border-radius: 8px;
    padding: 20px 0;
  }

  .pro-section-header+.content-wrapper {
    padding-top: 0;
  }
}